* {
  box-sizing: border-box;
}

body, h1, h2, ul, li, p {
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(to right, #111 30%, #fff 30%);
  font-family: 'Noto Serif', serif;
}

ul {
  list-style: none;
}

li {
  font-family: 'Helvetica';
  padding-top: 15px;
}

#app {
  padding: 0 80px;
}

/* HEADER */

.header {
  display: flex;
  justify-content: space-between;
  max-width: 900px;
  padding: 20px 0;
  margin: 0 auto;
}

.logo {
  width: 80px;
}

.carrinho-menu::after {
  content: "";
  display: inline-block;
  background: url("./assets/carrinho.svg") no-repeat center center;
  width: 25px;
  height: 25px;
  margin-left: 10px;
}

.carrinho-menu {
  display: flex;
  align-items: center;
  cursor: pointer;
}

/* HEADER */

/* LISTA DE PRODUTOS */

.produtos {
  margin: 100px auto 0 auto;
  max-width: 900px;
}

.produto {
  align-items: center;
  background: #fff;
  box-shadow: 0 0 2rem rgba(0, 0, 0, .1);
  cursor: pointer;
  display: flex;
  margin-bottom: 40px;
}

.produto-img {
  margin-right: 40px;
  max-width: 300px;
}

.produto-titulo {
  font-size: 3rem;
  line-height: 1;
}

.produto-preco {
  color: rgba(0, 0, 0, .5);
}

/* LISTA DE PRODUTOS */

/* MODAL */

.modal::before {
  background: rgba(0, 0, 0, .5);
  content: '';
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

.modal {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 0;
  padding: 80px;
  position: absolute;
  top: 0;
  width: 100%;
}

.modal-container {
  position: relative;
  z-index: 1;
  background: linear-gradient(to right, transparent 250px, white 250px);
  display: grid;
  align-items: end;
  grid-gap: 50px;
  padding: 0 50px 50px 0;
  animation: fadeIn .3s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate3d(50px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0px, 0, 0);
  }
}

.carrinho-fechar, .modal-fechar {
  border-radius: 50%;
  border: 2px solid #000;
  width: 40px;
  right: 10px;
  position: absolute;
  top: -10px;
  right: -10px;
  height: 40px;
  font-size: 1rem;
  box-shadow: 0 3px 4px rgba(0, 0, 0, .1), 0 4px 10px rgba(0, 0, 0, .2);
  cursor: pointer;
}

.carrinho-fechar:focus, .modal-fechar:focus {
  outline: none;
}

.modal-img {
  margin-top: 50px;
}

.modal-img img {
  grid-column: 1;
  max-width: 300px;
  box-shadow: 0 3px 4px rgba(0, 0, 0, .1), 0 4px 10px rgba(0, 0, 0, .2);
  display: block;
}

.modal-dados {
  grid-column: 2;
  max-width: 600px;
}

.modal-titulo {
  font-size: 3rem;
}

.modal-btn {
  margin-top: 80px;
  background: #000;
  cursor: pointer;
  color: #fff;
  border: none;
  font-size: 1rem;
  padding: 10px 25px;
  font-family: "Noto Serif";
}

.modal-btn.esgotado, .modal-btn:active {
  background: #808080;
}

.avaliacoes {
  grid-column: 2;
}

.avaliacoes-subtitulo {
  font-size: 1.5rem;
}

.avaliacao {
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  padding-bottom: 20px
}

.avaliacao-descricao {
  color: rgba(0, 0, 0, .7);
  margin: 20px 0 5px 0;
}

.avaliacao-usuario {
  font-weight: bold;
}

/* MODAL */

/* ALERTA */

.alerta {
  display: none;
  position: absolute;
  top: 20px;
  left: 0px;
  z-index: 10;
  width: 100%;
  text-align: center;
}

.alerta.ativo {
  display: block;
  animation: fadeInDown .3s forwards;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(-30px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0px, 0);
  }
}

.alerta-mensagem {
  background-color: #fff;
  display: inline-block;
  padding: 20px 40px;
  border: 2px solid black;
  box-shadow: 0 3px 4px rgba(0, 0, 0, .1), 0 4px 10px rgba(0, 0, 0, .2);
}

/* ALERTA */

/* CARRINHO */

.carrinho-modal::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, .5);
}

.carrinho-modal {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  display: none;
}

.carrinho-modal.ativo {
  display: block;
}

.carrinho-container {
  position: relative;
  margin: 80px auto;
  background-color: #fff;
  padding: 40px;
  max-width: 800px;
  animation: fadeInDown .3s forwards;
}

.carrinho-item {
  display: grid;
  grid-template-columns: 1fr 1fr 50px;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  padding: 10px 0;
}

.carrinho-titulo {
  margin-bottom: 10px;
  padding-bottom: 20px;
  border-bottom: 2px solid #000;
}

.carrinho-remover {
  border: none;
  font-size: 1rem;
  cursor: pointer;
  background: transparent;
}

.carrinho-preco {
  text-align: right;
}

.carrinho-total {
  text-align: right;
  padding: 10px 50px 10px 0;
  border-bottom: 2px solid #000;
  margin-bottom: 20px;
}

.carrinho-finalizar {
  display: block;
  margin-left: auto;
  background: #000;
  cursor: pointer;
  color: #fff;
  font-size: 1rem;
  padding: 10px 25px;
  border: none;
  font-family: "Noto Serif";
}

/* CARRINHO */

@media screen and (max-width: 900px) {
  #app {
    padding: 0 10px;
  }
  .produto {
    flex-direction: column;
    align-items: flex-start;
    max-width: 300px;
    margin: 30px auto;
  }
  .produto-info {
    padding: 20px;
  }
  .produto-img {
    max-width: 100%;
  }
  .produto-titulo {
    font-size: 1.5rem;
  }
  .modal {
    padding: 10px;
  }
  .modal-container {
    grid-gap: 0px;
    background-color: #fff;
    padding: 10px 0;
  }
  .modal-img {
    grid-row: 2;
  }
  .modal-img img {
    max-width: initial;
    width: 100%;
  }
  .modal-dados {
    grid-column: 1;
    padding: 10px;
  }
  .modal-btn {
    margin-top: 5px;
  }
  .avaliacoes {
    grid-column: 1;
    padding: 10px;
  }
  .carrinho-modal {
    padding: 10px;
  }
}